/* to-do list app specific */
#toDoListContainer{
  background-color: rgba(79, 79, 79, 0.7)
}
#toDoListTitle{
  color: white;
  font-size: 35px;
}
#items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
}

.itemWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}


.itemDescription {
  width: 350px;
  padding: 8px 12px;
  font-size: 1.25em;
  border-radius: 4px;
  border: 1px solid #aaa;
}


#add {
  background-color: brown;
  font-size: 0.75em;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-top: 10px;  
}

#add:hover {
  background-color: darkred;
}


.itemCompleted {
  width: 20px;
  height: 20px;
  cursor: pointer;
  vertical-align: middle;
  margin-right: 10px;  
}
